<!DOCTYPE html>
<html>
  
  <%- include('common/head'); %>
  
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/" method="POST">
      <input name="lead_email" type="email" placeholder="Enter Your Email">
      <button type="submit">Submit</button>
    </form>
    
    <%if (!(typeof leads === "undefined")) { %>
      <h1>Leads</h1>

      <% for(var i=0;i<leads.length; i++) {%>
        <p id=<%= leads[i].id %>>
          <span>
            <%= leads[i].email %>
            <a href="/lead/<%= leads[i].id %>"> Details </a>
            <button onclick="deleteLead('<%= leads[i].id %>')"> Delete </button>
          </span>
        </p>
     <% } %>

    <% } %>

    <%- include('common/footer'); %>
    <script type="text/javascript" src="/javascripts/leads.js"></script>
  </body>
</html>
