<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/leads.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/" method="POST">
      <input name="lead_email" type="email" placeholder="Enter Your Email">
      <button type="submit">Submit</button>
    </form>
    
    <%if (!(typeof leads === "undefined")) { %>
      <h1>Leads</h1>

      <% for(var i=0;i<leads.length; i++) {%>
        <p id=<%= leads[i].id %>>
          <span>
            <%= leads[i].email %>
            <a href="/lead/<%= leads[i].id %>"> Details </a>
            <button onclick="deleteLead('<%= leads[i].id %>')"> Delete </button>
          </span>
        </p>
     <% } %>

    <% } %>

  </body>
</html>
